@page
@model FloraCapstone2nd.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center center">
    <div style="width:200px">
        <h1 class="display-4">Login</h1>
        <form asp-controller="Home" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
        
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" class="form-control"/>
            <br/>
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" class="form-control"/>
            <br/>
            <input type="submit" style ="btn btn-success" value="Login" /> 
        </form>
    </div>
</div>
New Users Register <a asp-controller="Account" asp-action="RegisterUser">here</a> !