<a asp-controller="Home" asp-action="Index" class="btn btn-primary"> 
    Back to Home Page 
</a>
<a asp-controller="Diagnose" asp-action="Add" class="btn btn-success"> 
    Create New Plant Disease 
</a>




@*
*@ 
@{
}


